# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/

# Django media and static deployment folders
/static/
/media/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
